<mat-toolbar color="accent">
  <a mat-button routerLink="/">
    <img height="70" alt="CHS Logo" src="{{ themedIcon }}" />
    <span style="font-size:1.2cm;">&nbsp; {{ appTitle }} </span>
  </a>

  <span class="horizontalSpacer"></span>

  <button mat-button routerLink="/" matTooltip="Go to Home page">Home</button>
  <button mat-button routerLink="/clist" matTooltip="go to celebrity list">Celebs</button>
  <button mat-button routerLink="/about" matTooltip="About the app">About</button>
</mat-toolbar>

<!-- 
<header>
  <div class="container">
    <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/alexpigida/">
      <img height="22" alt="Alex on LinkedIn" src="\assets\AlexTiny_LinkedIn.png" />
    </a>
    <!-- <a routerLink="/" class="logo">{{ appTitle }}</a> -->
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/my-clients">My Clients</a></li>
        <li><a routerLink="/my-apps">My Apps</a></li>
        <li><a routerLink="/my-family">My Family</a></li>
        <!-- <li><a routerLink="/my-projects">My Projets</a></li> -->
        <!-- <li><a routerLink="/contact">Contact</a></li> -->
        <button mat-button (click)="toggleTheme()" matTooltip="Toggles the theme">Theme</button>
      </ul>
    </nav>
  </div>
</header> -->
