<header>
  <div class="container">
    <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/alexpigida/">
      <img height="20" alt="Alex on LinkedIn" src="\assets\AlexTiny_LinkedIn.png" />
    </a>
    <!-- <a routerLink="/" class="logo">{{ appTitle }}</a> -->
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/my-apps">My Apps</a></li>
        <li><a routerLink="/my-clients">My Clients</a></li>
        <li><a routerLink="/my-projects">My Projets</a></li>
        <li><a routerLink="/my-family">My Family</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>