<div style="text-align:center; widows: 80%;">
  <br />
  <h1>These are the cleients I have had a privilige to work for:</h1>
  <h6>(in no particular order)</h6>
  <br />
  <br />
  <p>
    <a target="_blank" rel="noopener" href="https://RBC.com/         "><img height="90" alt="RBC        " src="\assets\ClientLogos\RBC.svg" /> </a>
    <a target="_blank" rel="noopener" href="https://Nymi.com/        "><img height="80" alt="Nymi       " src="\assets\ClientLogos\Nymi.jpg" /> </a>
    <a target="_blank" rel="noopener" href="https://Sciex.com/       "><img height="100" alt="Sciex      " src="\assets\ClientLogos\Sciex.png" /> </a>
    <a target="_blank" rel="noopener" href="https://BMO.com/         "><img height="100" alt="BMO        " src="\assets\ClientLogos\BMO.jpg" /> </a>
    <a target="_blank" rel="noopener" href="https://DirectEnergy.com/"><img height="100" alt="DirectEnerg" src="\assets\ClientLogos\DirectEnergy.png" /> </a>
    <a target="_blank" rel="noopener" href="https://Cetaris.com/     "><img height="100" alt="Cetaris    " src="\assets\ClientLogos\Cetaris.png" /> </a>
    <a target="_blank" rel="noopener" href="https://Arbor.com/       "><img height="100" alt="Arbor      " src="\assets\ClientLogos\Arbor.png" /> </a>
    <a target="_blank" rel="noopener" href="https://CIBC.com/        "><img height="100" alt="CIBC       " src="\assets\ClientLogos\CIBC.png" /> </a>
    <a target="_blank" rel="noopener" href="https://CSG.com/         "><img height="100" alt="CSG        " src="\assets\ClientLogos\CSG.png" /> </a>
    <a target="_blank" rel="noopener" href="https://CWB.com/         "><img height="100" alt="CWB        " src="\assets\ClientLogos\CWB.png" /> </a>
    <a target="_blank" rel="noopener" href="https://GlobalRESP.com/  "><img height="100" alt="GlobalRESP " src="\assets\ClientLogos\GlobalRESP.png" /> </a>
    <a target="_blank" rel="noopener" href="https://Citi.com/        "><img height="100" alt="Citi       " src="\assets\ClientLogos\Citi.png" /> </a>
    <a target="_blank" rel="noopener" href="https://GSC.com/         "><img height="100" alt="GSC        " src="\assets\ClientLogos\GSC.png" /> </a>
    <a target="_blank" rel="noopener" href="https://Toromont.com/    "><img height="100" alt="Toromont   " src="\assets\ClientLogos\Toromont.png" /> </a>
    <a target="_blank" rel="noopener" href="https://Livingston.com/  "><img height="100" alt="Livingston " src="\assets\ClientLogos\Livingston.png" /> </a>
    <a target="_blank" rel="noopener" href="https://Magna.com/       "><img height="100" alt="Magna      " src="\assets\ClientLogos\Magna.jpg" /> </a>
    <a target="_blank" rel="noopener" href="https://mobileLIVE.com/  "><img height="100" alt="mobileLIVE " src="\assets\ClientLogos\mobileLIVE.png" /> </a>
    <a target="_blank" rel="noopener" href="https://SystemGroup.com/ "><img height="100" alt="SystemGroup" src="\assets\ClientLogos\SystemGroup.png" /> </a>
    <a target="_blank" rel="noopener" href="https://Microsoft.com/   "><img height="100" alt="Microsoft  " src="\assets\ClientLogos\Microsoft.png" /> </a>
    <a target="_blank" rel="noopener" href="https://TroughtCorp.com/ "><img height="100" alt="TroughtCorp" src="\assets\ClientLogos\TroughtCorp.png" /> </a>
  </p>
</div>
