<div style="text-align:center; widows: 80%;">
  <br />
  <h1>These are the cleients I have had a privilige to work for:</h1>
  <h6>(in no particulara order)</h6>
  <br />
  <br />
  <p>
    <a target="_blank" rel="noopener" href="https://Nymi.com/        "><img width="100" alt="Nymi       " src="\assets\LinkedIn\Nymi.jpg" /> </a>
    <a target="_blank" rel="noopener" href="https://Sciex.com/       "><img width="100" alt="Sciex      " src="\assets\LinkedIn\Sciex.png" /> </a>
    <a target="_blank" rel="noopener" href="https://BMO.com/         "><img width="100" alt="BMO        " src="\assets\LinkedIn\BMO.jpg" /> </a>
    <a target="_blank" rel="noopener" href="https://DirectEnergy.com/"><img width="100" alt="DirectEnerg" src="\assets\LinkedIn\DirectEnergy.png" /> </a>
    <a target="_blank" rel="noopener" href="https://Cetaris.com/     "><img width="100" alt="Cetaris    " src="\assets\LinkedIn\Cetaris.png" /> </a>
    <a target="_blank" rel="noopener" href="https://Arbor.com/       "><img width="100" alt="Arbor      " src="\assets\LinkedIn\Arbor.png" /> </a>
    <a target="_blank" rel="noopener" href="https://CIBC.com/        "><img width="100" alt="CIBC       " src="\assets\LinkedIn\CIBC.png" /> </a>
    <a target="_blank" rel="noopener" href="https://CSG.com/         "><img width="100" alt="CSG        " src="\assets\LinkedIn\CSG.png" /> </a>
    <a target="_blank" rel="noopener" href="https://CWB.com/         "><img width="100" alt="CWB        " src="\assets\LinkedIn\CWB.png" /> </a>
    <a target="_blank" rel="noopener" href="https://GlobalRESP.com/  "><img width="100" alt="GlobalRESP " src="\assets\LinkedIn\GlobalRESP.png" /> </a>
    <a target="_blank" rel="noopener" href="https://Citi.com/        "><img width="100" alt="Citi       " src="\assets\LinkedIn\Citi.png" /> </a>
    <a target="_blank" rel="noopener" href="https://GSC.com/         "><img width="100" alt="GSC        " src="\assets\LinkedIn\GSC.png" /> </a>
    <a target="_blank" rel="noopener" href="https://Toromont.com/    "><img width="100" alt="Toromont   " src="\assets\LinkedIn\Toromont.png" /> </a>
    <a target="_blank" rel="noopener" href="https://Livingston.com/  "><img width="100" alt="Livingston " src="\assets\LinkedIn\Livingston.png" /> </a>
    <a target="_blank" rel="noopener" href="https://Magna.com/       "><img width="100" alt="Magna      " src="\assets\LinkedIn\Magna.jpg" /> </a>
    <a target="_blank" rel="noopener" href="https://mobileLIVE.com/  "><img width="100" alt="mobileLIVE " src="\assets\LinkedIn\mobileLIVE.png" /> </a>
    <a target="_blank" rel="noopener" href="https://SystemGroup.com/ "><img width="100" alt="SystemGroup" src="\assets\LinkedIn\SystemGroup.png" /> </a>
    <a target="_blank" rel="noopener" href="https://Microsoft.com/   "><img width="100" alt="Microsoft  " src="\assets\LinkedIn\Microsoft.png" /> </a>
    <a target="_blank" rel="noopener" href="https://TroughtCorp.com/ "><img width="100" alt="TroughtCorp" src="\assets\LinkedIn\TroughtCorp.png" /> </a>
  </p>
</div>
