<div style="text-align:center; widows: 80%;">
  <br />
  <h1>These are the apps I have published to the Micorosft App Store:</h1>
  <h6>(in no particular order)</h6>
  <br />
  <br />
</div>
<ul>
  <li>
    <a target="_blank" rel="noopener" href="https://www.microsoft.com/en-us/p/buscatch/9nblggh5g5z1"
      ><img width="100" alt="ToRunOr" src="\assets\MyApps\BusCatch.png" />
    </a>
    <p>
      <b>BusCatch </b>- Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim
    </p>
  </li>
  <li>
    <a target="_blank" rel="noopener" href="https://www.microsoft.com/en-us/p/torunor/9nblggh440j9"
      ><img width="100" alt="ToRunOr" src="\assets\MyApps\ToRunOr.png" />
    </a>
    <p>
      <b>ToRunOr </b>- Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim
    </p>
  </li>
  <li>
    <a target="_blank" rel="noopener" href="https://www.microsoft.com/en-us/p/torunor/9nblggh440j9"
      ><img width="100" alt="ToRunOr" src="\assets\MyApps\BHW.png" />
    </a>
    <p>
      <b>BHW </b>- Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim
    </p>
  </li>
  <li>
    <a target="_blank" rel="noopener" href="https://www.microsoft.com/en-us/p/torunor/9nblggh440j9"
      ><img width="100" alt="ToRunOr" src="\assets\MyApps\WorstMediaPlayer.png" />
    </a>
    <p>
      <b>WorstMediaPlayer</b> - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim
    </p>
  </li>
</ul>
