<app-nav></app-nav>

<router-outlet></router-outlet>

<hr />
<div style="float: left;">
  &nbsp; &nbsp; &nbsp;
  <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/alexpigida/">
    <img width="100" alt="Alex on LinkedIn" src="\assets\AlexTiny_LinkedIn.png" />
  </a>
</div>

<div style="float: right;">
  <p>
    Latest gigs:&nbsp; &nbsp; &nbsp;
    <a target="_blank" rel="noopener" href="https://nymi.com/">Nymi</a>
    &nbsp; &nbsp; &nbsp;
    <a target="_blank" rel="noopener" href="https://sciex.com/">Sciex</a>
    &nbsp; &nbsp; &nbsp;
    <a target="_blank" rel="noopener" href="https://www.bmo.com/">BMO</a>
    &nbsp; &nbsp; &nbsp;
  </p>
</div>
