<app-nav></app-nav>

<mat-sidenav-container style="height: 80%;">
  <!--  // todo: <mat-sidenav #sidenav mode="side" [(opened)]="!isSignedIn"> -->
  <mat-sidenav #sidenav mode="side">
    <mat-nav-list>
      <div style="margin: 20px; color: #aaa; display:run-in">
        <mat-icon mat-list-icon>nfc</mat-icon><br /><br />
        <mat-icon mat-list-icon>domain</mat-icon><br /><br />
        <mat-icon mat-list-icon>edit</mat-icon>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar class="sidenav0-footer">
  <a mat-button target="_blank" rel="noopener" href="https://www.linkedin.com/in/alexpigida/" matTooltip="My profile on Linked-In" style="background-color: #def; padding: 3px;">
    <img height="42" alt="Alex on LinkedIn" src="\assets\images\AlexTiny_LinkedIn.png" />
  </a>
  <span style="font-size:.3cm; margin-left: 20px; margin-right: 200px;"> © Copyright 2019 AAVpro Inc. </span>

  <span style="font-size:.3cm;"> Latest gigs:&nbsp; &nbsp; &nbsp;</span>

  <a mat-button target="_blank" rel="noopener" href="https://rbc.com/">RBC</a> &nbsp; &nbsp; &nbsp; 
  <a mat-button target="_blank" rel="noopener" href="https://nymi.com/">Nymi</a> &nbsp; &nbsp; &nbsp; 
  <a mat-button target="_blank" rel="noopener" href="https://sciex.com/">Sciex</a> &nbsp; &nbsp; &nbsp;
  <a mat-button target="_blank" rel="noopener" href="https://www.bmo.com/">BMO</a> &nbsp; &nbsp; &nbsp;
</mat-toolbar>
<!-- 

  //todo:
  https://medium.com/@saleemmalikraja/theme-your-angular-application-with-angular-material-library-477993fb746f

-->
